<ul class="nav nav-list well">
  <li class="nav-header">
  Teacher Tools
  </li>

  <li>
  <a href="/teacher/dashboard/"><i class="icon-home"></i>Overview</a>
  <a href="/teacher/dashboard/words"><i class="icon-th-list"></i>Vocabulary</a>
  <a href="/teacher/dashboard/usage"><i class="icon-signal"></i>Usage Statistics</a>
  </li>
</ul>
