<div class="row">
  <div class="span8">
    <h1>Usage Statistics</h1>
    <p>This page not yet complete</p>
  </div>
  <div class="span4">
    <%= render "teacher/dashboard/navmenu" %>
  </div>
</div>
