<h1>Membit Data Download</h1>

<p>All files for download here are .csv and individual user information reomved</p>

<ul>
<li><%= link_to "Download All Reviews", "/admin/data/reviews.csv" %></li>
<li><%= link_to "Download Not-New Reviews", "/admin/data/reviews.csv?new=false" %></li>
</ul>
