<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="offset2 span8">
    <h1>Register</h1>

    <p>Thank you for participating in this project. I hope you find this software valuable in memorising vocabulary.
      If you would like to read more about <em>Spaced Repetition</em>, see this
      <a href="http://en.wikipedia.org/wiki/Spaced_repetition">Wikipedia article</a>.</p>

    <p>To download the Participant Information Sheet with information about the project and contact details,
      click the 'Help' button on the toolbar at the top of the page at any time.</p>

    <p>Participation in this project is completely voluntary and you may withdraw at any time. To withdraw, click
      the Account button on the toolbar at the top of page, then choose 'Withdraw Participation'.</p>

    <p>To create an account and start revising vocabulary, please fill out the following information.</p>
  </div>
</div>