<div class="row">
  <div class="offset2 span8">
    <h1>You are about to withdraw participation from the study</h1>

    <p><strong>All data associated with your account will be deleted and you will no longer be able to use the system.
    This cannot be undone.</strong></p>

    <p>Are you sure you want to do this?</p>

    <div class="withdrawal-buttons">
      <%= form_tag nil, :method => :delete do %>
          <div>
            <div>
              <%= hidden_field_tag 'confirm', "1" %>
              <input type="submit" class="btn btn-danger btn-large" value="Yes, delete all data">
            </div>
          </div>

          <div>
            <a class="btn btn-large" href="/">No, go back</a>
          </div>
      <% end %>
    </div>
  </div>
</div><!--/row-->

